body {
    background-color: black;
}

.header {
    border: 0;
    width: 100%;
    color: black;
    padding: 0;
    border-spacing: 0;
    background-color: hsl(34, 69%, 39%);
}

.table {
    border: #d31212;
    padding: 15;
    border-spacing: 0;
    width: 90%;
    text-align: center;
}

.table a {
    color: black;
    font-size: 20px;
    ;
}

div {
    color: aliceblue;
    text-align: center;
}

.about {
    padding-right: 50px;
    border-spacing: 0;
    text-align: center;
    color: white;
    width: 100%;
}

#work,
#resume {
    border: 0;
    width: 100%;
    padding-left: 120px;
    padding: 0;
    border-spacing: 0;
    color: white;
    width: 100%;
}

h3 {
    text-align: center;
    color: white;
}

.form {
    position: relative;
    z-index: 1;
    background: hsl(34, 69%, 39%);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form textarea {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

#footer {
    background-color: hsl(34, 69%, 39%);
    text-align: center;
    width: 100%;
}

#footer a {
    color: black;
}